@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root{
    --principal: 'Inter', sans-serif;
    --text-color: #667085;
    --main-color: #8e2424;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--principal);
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem  0;
}

#logo {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

#logo img{
    width: 45px ;
    margin-right: 8px;
}

nav a{
    text-decoration: none;
    color: black;
}

#space{
    width: 142px;
    height: 32px;
}

#acoes{
    width: 207px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#acoes button{
    width: 83px;
    height: 44px;
    border-radius: 8px;
    border: none;
    margin-right: 18px;
    cursor: pointer;
    font-family: var(--principal);
    font-size: 16px;
    background-color: #fff;
}

#acoes button:nth-child(2n){
    background-color: #8e2424;
    color: #fff;
    width: 112px;
}

/*fim nav*/

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding: 7rem 0;
}

#sobre span{
    color: var(--main-color);
    font-weight: 600;
}

#sobre h2{
    text-align: center;
    font-size: 2.5rem;
}

#sobre p{
    color: var(--text-color);
    max-width: 40rem;
    text-align: center;
}

/*fim sobre*/

#metricas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#metricas div{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem 0;
}

#metricas h1{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
}

#metricas h2{
    font-size: 1rem;
    font-weight: 600;
}

#metricas p{
    color: var(--text-color);
    font-size: 1rem;
}

#talentos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  30px;
    text-align: center;
    margin-top: 120px;
}

#talentos a{
    color: var(--main-color);
    background-color: #8e242411;
    padding: 10px;
    border-radius: 25px;
    font-weight: 500;
   text-decoration: none;
   margin-bottom: 20px;
   
}

#talentos h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#talentos p{
    font-size: 1.5rem;
    margin-bottom: 36px;
    color: var(--text-color);
}

#talentos img{
    width: 90%;
}