@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root{
    --principal: 'Inter', sans-serif;
    --text-color: #667085;
    --main-color: #8e2424;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: var(--principal);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem  0;
}

.container{
    width: 88%;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

#logo img{
    width: 45px ;
    margin-right: 8px;
}

.container ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.container ul li{
    margin-right: 32px;
    width: 78px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--principal);
}

a{
    text-decoration: none;
    color: black;
}

#space{
    width: 142px;
    height: 32px;
}

#acoes{
    width: 207px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#acoes button{
    width: 83px;
    height: 44px;
    border-radius: 8px;
    border: none;
    margin-right: 18px;
    cursor: pointer;
    font-family: var(--principal
    );
    font-size: 16px;
    background-color: #fff;
}

#acoes button:nth-child(2n){
    background-color: #8e2424;
    color: #fff;
    width: 112px;
}

/*fim nav*/

main{
    width: 100%;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 407px;
    width: 100%;
}

#sobre h2, p, span{
    margin-bottom: 2rem;
}

#sobre span{
    color: var(--main-color);
    font-weight: 600;
}

#sobre h2{
    font-size: 2.5rem;
}

#sobre p{
    color: var(--text-color);
    max-width: 40rem;
    text-align: center;
}